<configuration>
    <appender name="jsonConsole" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/><logLevel/><threadName/><loggerName/><message/><arguments/><stackTrace/>
                <mdc/> <!-- Hier landen Trace-ID und Span-ID automatisch! -->
            </providers>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="jsonConsole" />
    </root>
</configuration>