# --- Maven ---
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# Falls du den Maven Wrapper nutzt, behalte ihn, aber ignoriere die Jar
!.mvn/wrapper/maven-wrapper.jar

# --- IDE (Visual Studio Code) ---
.vscode/
*.code-workspace
.history/

# --- IDE (IntelliJ IDEA) ---
.idea/
*.iws
*.iml
*.ipr
out/

# --- IDE (Eclipse) ---
.metadata/
bin/
tmp/
.gradle/
.settings/
.classpath
.project
.factorypath

# --- OS Spezifisch ---
.DS_Store
Thumbs.db
desktop.ini

# --- Logs & Temp ---
*.log
logs/
temp/

# --- Spring Boot ---
*.jar
*.war
*.ear